USE [nvz_profiler]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetAllEmp]    Script Date: 9/22/2025 3:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetAllEmp](@DeptID AS INT)  
RETURNS TABLE 
AS 
RETURN 
   ( 
   SELECT * FROM department d 
   WHERE d.id = @DeptID 
   ) 
GO
