USE [nvz_profiler]
GO
/****** Object:  Table [dbo].[dft_empsummary]    Script Date: 9/22/2025 3:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dft_empsummary](
	[deptid] [decimal](18, 0) NULL,
	[totalemp] [int] NULL
) ON [PRIMARY]
GO
