USE [nvz_profiler]
GO
/****** Object:  Table [dbo].[dft_employees_dim]    Script Date: 9/22/2025 3:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dft_employees_dim](
	[EMPID] [int] NOT NULL,
	[EMPNAME] [varchar](50) NULL,
	[ADDRESS] [varchar](50) NULL,
	[EMPSTATUS] [varchar](10) NULL,
	[DEPTID] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
