USE [nvz_profiler]
GO
/****** Object:  Table [dbo].[dft_deptsummary]    Script Date: 9/22/2025 3:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dft_deptsummary](
	[deptname] [varchar](50) NULL,
	[totalemp] [int] NULL,
	[manager] [varchar](50) NULL
) ON [PRIMARY]
GO
